<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connString1" connectionString="Server=192.168.1.221\MSSQLSERVER3;database=MultiTHMonitorDB;Uid=WKTEST;Pwd=123456" />
    <!--<add name="connString" connectionString="Server=.;database=BC3100_324DB;Trusted_Connection=SSPI" />-->
	  <add name="connString" connectionString="Server=.;database=DB_ZC;Trusted_Connection=SSPI;Max Pool Size=1000;MultipleActiveResultSets=True;TrustServerCertificate=true;" />
  </connectionStrings>

</configuration>